[Desktop Entry]
Name=Editra
Comment="Programmer's Text Editor"
Exec=editra
Icon=editra.png
Terminal=false
Type=Application
Categories=Application;Development;
