[Desktop Entry]
Name=PyAlaMode
Comment=GUI Python Shell with Filling and editor windows
Exec=pyalamode
Icon=PyCrust
Terminal=false
Type=Application
Categories=Development;
