[Desktop Entry]
Name=PySlices
Comment=GUI Python Shell with Filling
Exec=pyslices
Icon=PySlices.png
Terminal=false
Type=Application
Categories=Application;Development;
